<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>Video Stream</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <video loop autoplay muted>
    <source src="/videos/FogTL.mp4" type="video/mp4">
    <p>
      Votre navigateur ne prend pas en charge les vidéos HTML5. Voici <a href="myVideo.mp4">un lien pour télécharger la vidéo</a>.
    </p>
  </video>
</body>
</html>
